<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865363762019-cpaed4ie76nvr38on8sh7n5djbg4eeva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865363762019-cpaed4ie76nvr38on8sh7n5djbg4eeva</string>
	<key>API_KEY</key>
	<string>AIzaSyB2wUYogA7CloN_il9Idg-52NxPHgU-UbI</string>
	<key>GCM_SENDER_ID</key>
	<string>865363762019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neosoft.LegacyGraphql</string>
	<key>PROJECT_ID</key>
	<string>legacygraphql</string>
	<key>STORAGE_BUCKET</key>
	<string>legacygraphql.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865363762019:ios:404416acbd3bc14a78d156</string>
</dict>
</plist>